SoapAppClient/Approver.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="ApproverDefinitions" targetNamespace="urn:Approver"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:app="urn:Approver"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<types>
	<schema elementFormDefault="qualified" targetNamespace="urn:Approver" xmlns="http://www.w3.org/2001/XMLSchema">
	<complexType name="propType">
		<sequence>
			<element name="name" type="xsd:string"/>
			<element name="address" type="xsd:string"/>
			<element name="amount" type="xsd:float"/>
		</sequence>
	</complexType>
	<element name="proposal" type="app:propType"/>
	<element name="rate" type="xsd:float"/>
	</schema>
</types>


  <message name="proposalMessage">
<!-- need three parts for name, address, and amount values 
     use appropriate datatypes (e.g. xsd:string)-->
	<part name="body" element="app:proposal"/>
  </message>

  <message name="rateMessage">
<!-- need one part for rate value, again use appropriate data type -->
	<part name="rate" element="app:rate"/>
  </message>

  <portType name="loanPort">
    <operation name="approveOperation">

<!-- include input and output messages defined above -->
	<input message="app:proposalMessage"/>
	<output message="app:rateMessage"/>
    </operation>
  </portType>

  <binding name="loanBinding" type="app:loanPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="approveOperation">
      <soap:operation soapAction=""/>
      <input>
	<soap:body use="literal" namespace="urn:Approver"
	 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
	<soap:body use="literal" namespace="urn:Approver"
	 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

  </binding>

  <service name="ApproverService">
    <port name="ApproverLoan" binding="app:loanBinding">
      <soap:address location="http://127.0.0.1:8080/axis2/services/ApproverService"/>
    </port>
  </service>
</definitions>
